<div class="justify-center px-4">
    <h2 class="text-2xl font-semibold text-gray-700 text-center">{{service}}</h2>
  <p class="text-xl text-gray-600 text-center">Log in</p>

  {{#if errors}}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mt-8 rounded relative text-center" role="alert">
      {{#each errors}}
        <p>{{this}}</p>
      {{/each}}
    </div>
  {{/if}}
</div>

<div class="flex flex-col justify-center md:justify-start pt-8 md:pt-0 px-8 lg:px-24">
  <a href="#" class="flex items-center justify-center mt-4 text-white rounded-lg shadow-md hover:bg-gray-100">
      <div class="px-4 py-3">
          <svg class="h-6 w-6" viewBox="0 0 40 40">
              <path d="M 10.542969 21.304688 L 14.925781 21.304688 L 14.925781 39.355469 C 14.925781 39.710938 15.214844 40 15.570312 40 L 23.007812 40 C 23.363281 40 23.652344 39.710938 23.652344 39.355469 L 23.652344 21.390625 L 28.691406 21.390625 C 29.019531 21.390625 29.296875 21.144531 29.332031 20.816406 L 30.097656 14.171875 C 30.121094 13.988281 30.0625 13.804688 29.9375 13.667969 C 29.816406 13.53125 29.640625 13.453125 29.457031 13.453125 L 23.652344 13.453125 L 23.652344 9.289062 C 23.652344 8.03125 24.328125 7.394531 25.660156 7.394531 C 25.851562 7.394531 29.457031 7.394531 29.457031 7.394531 C 29.8125 7.394531 30.101562 7.105469 30.101562 6.75 L 30.101562 0.648438 C 30.101562 0.292969 29.8125 0.00390625 29.457031 0.00390625 L 24.226562 0.00390625 C 24.1875 0.00390625 24.105469 0 23.988281 0 C 23.078125 0 19.921875 0.179688 17.429688 2.472656 C 14.667969 5.011719 15.054688 8.054688 15.144531 8.582031 L 15.144531 13.453125 L 10.542969 13.453125 C 10.1875 13.453125 9.898438 13.742188 9.898438 14.097656 L 9.898438 20.660156 C 9.898438 21.015625 10.1875 21.304688 10.542969 21.304688 Z M 10.542969 21.304688" fill="#385C8E"/>
          </svg>
      </div>
      <h1 class="px-4 py-3 w-5/6 text-center text-gray-600 font-bold">Sign in with Facebook</h1>
  </a>

  <a href="#" class="flex items-center justify-center mt-4 text-white rounded-lg shadow-md hover:bg-gray-100">
      <div class="px-4 py-3">
          <svg class="h-6 w-6" viewBox="0 0 40 40">
              <path d="M36.3425 16.7358H35V16.6667H20V23.3333H29.4192C28.045 27.2142 24.3525 30 20 30C14.4775 30 10 25.5225 10 20C10 14.4775 14.4775 9.99999 20 9.99999C22.5492 9.99999 24.8683 10.9617 26.6342 12.5325L31.3483 7.81833C28.3717 5.04416 24.39 3.33333 20 3.33333C10.7958 3.33333 3.33335 10.7958 3.33335 20C3.33335 29.2042 10.7958 36.6667 20 36.6667C29.2042 36.6667 36.6667 29.2042 36.6667 20C36.6667 18.8825 36.5517 17.7917 36.3425 16.7358Z" fill="#FFC107"/>
              <path d="M5.25497 12.2425L10.7308 16.2583C12.2125 12.59 15.8008 9.99999 20 9.99999C22.5491 9.99999 24.8683 10.9617 26.6341 12.5325L31.3483 7.81833C28.3716 5.04416 24.39 3.33333 20 3.33333C13.5983 3.33333 8.04663 6.94749 5.25497 12.2425Z" fill="#FF3D00"/>
              <path d="M20 36.6667C24.305 36.6667 28.2167 35.0192 31.1742 32.34L26.0159 27.975C24.3425 29.2425 22.2625 30 20 30C15.665 30 11.9842 27.2359 10.5975 23.3784L5.16254 27.5659C7.92087 32.9634 13.5225 36.6667 20 36.6667Z" fill="#4CAF50"/>
              <path d="M36.3425 16.7358H35V16.6667H20V23.3333H29.4192C28.7592 25.1975 27.56 26.805 26.0133 27.9758C26.0142 27.975 26.015 27.975 26.0158 27.9742L31.1742 32.3392C30.8092 32.6708 36.6667 28.3333 36.6667 20C36.6667 18.8825 36.5517 17.7917 36.3425 16.7358Z" fill="#1976D2"/>
          </svg>
      </div>
      <h1 class="px-4 py-3 w-5/6 text-center text-gray-600 font-bold">Sign in with Google</h1>
  </a>

  <div class="mt-4 flex items-center justify-between">
      <span class="border-b w-1/5 lg:w-1/4"></span>
      <a href="#" class="text-xs text-center text-gray-500 uppercase">or login with email</a>
      <span class="border-b w-1/5 lg:w-1/4"></span>
  </div>

  <form action="/login" method="POST">
    <div class="mt-4">
        <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Email Address</label>
        <input type="email" id="username" placeholder="your@email.com" name="username" value="{{username}}" autofocus class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none">
    </div>
    <div class="mt-4">
        <div class="flex justify-between">
            <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
            <a href="password-lost" class="text-xs text-gray-500" onclick="lostPassword(event);">Forget Password?</a>
        </div>
        <input type="password" id="password" placeholder="***" name="password" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none">
    </div>
    <div class="mt-8">
        <button type="submit" class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600">Login</button>
    </div>
  </form>

  <div class="mt-4 flex items-center justify-between">
      <span class="border-b w-1/5 md:w-1/4"></span>
      <a href="signup" class="text-xs text-gray-500 uppercase">or sign up</a>
      <span class="border-b w-1/5 md:w-1/4"></span>
  </div>

</div>

